
@{
    ViewBag.Title = "ListaLibros";
    Layout = "~/Views/Shared/AdminView.cshtml";
}

<head>
    <title>Lista de libros</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="Shortcut Icon" type="image/x-icon" href="assets/icons/book.ico" />
    <script src="js/sweet-alert.min.js"></script>
</head>

<script src="~/Scripts/js_libros.js"></script>
<script>
    var UrlBorrarLib = '@Url.Action("eliminarLib", "Admin")'
</script>

<div class="container-fluid">
    <h2 class="text-center all-tittles" style="clear: both; margin: 25px 0;">Tipos de libro</h2>
    <a href="~/admin/RegistroLibros" class="btn btn-outline-dark user-select-auto" data-placement="top">Agregar libro</a>
    <br>
    <br>
    <div class="div-table" style="margin:0 !important;">
        <div class="div-table-row div-table-header" style="background-color:#DFF0D8; font-weight:bold;">
            <div class="div-table-cell">Titulo</div>
            <div class="div-table-cell">Edición</div>
            <div class="div-table-cell">Fecha de lanzamiento</div>
            <div class="div-table-cell">Autor</div>
            <div class="div-table-cell">Editorial</div>
            <div class="div-table-cell">Pais</div>
            <div class="div-table-cell">Categoria</div>
            <div class="div-table-cell">Stock</div>
            <div class="div-table-cell">Precio</div>
            <div class="div-table-cell">Portada</div>
            <div class="div-table-cell">Actualizar</div>
            <div class="div-table-cell">Eliminar</div>
        </div>

        @foreach (var item in Model)
        {
            if (item.Activos == 1)
            {
                <div class="div-table-row div-table-row-list" id="fila-@item.idLibro">
                    <div class="div-table-cell">@item.tituloLibro</div>
                    <div class="div-table-cell">@item.edicionLibro</div>
                    <div class="div-table-cell">@item.fechaLanzamiento.ToString("yyyy-MM-dd")</div>
                    <div class="div-table-cell">@item.nombreAutor</div>
                    <div class="div-table-cell">@item.Editorial.nombreEditorial</div>
                    <div class="div-table-cell">@item.Pai.nombrePais</div>
                    <div class="div-table-cell">@item.TipoLibro.tipo</div>
                    <div class="div-table-cell">@item.stock</div>
                    <div class="div-table-cell">@item.precio</div>
                    <div class="div-table-cell">
                        <img src="@Url.Action("MostrarImagenLib", "Admin", new { id = item.idLibro })" width="100" height="100" />
                    </div>

                    <div class="div-table-cell">
                        <a href="~/admin/RegistroLibros?idLib=@item.idLibro&idTiLi=@item.idTipoLibro&idEdit=@item.idEditorial&idPais=@item.idPais" class="btn btn-success">Editar</a>
                    </div>
                    <div class="div-table-cell">
                        <a href="javascript:eliminarLib(@item.idLibro)" class="btn btn-danger">Eliminar</a>
                    </div>
                </div>
            }
        }
    </div>
</div>
